<center>
<table width="100%" border="0" align="center" class="statstable">
  <tr class="head">
    <td width="63" valign="top"><img src="images/logo.gif" border="0"></td>
    <td width="657" valign="top">
      <div align="center"><font size="3">
      <b>&nbsp;<{$lang_traffic_report}>&nbsp;</b></font><br><br>
      <table width="657" border="0" align="center">
        <form>
        <tr>
          <td>
            <div align="center" class="statsdiv">
[&nbsp;<a href="index.php?action=1"><{$lang_summary}></a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[&nbsp;<a href="index.php?action=2"><{$lang_traffic}></a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[&nbsp;<a href="index.php?action=3"><{$lang_visitor_info}></a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[&nbsp;<a href="index.php?action=4"><{$lang_referer}></a>&nbsp;]
            </div>
          </td>
        </tr></form>
      </table>
      </div>
    </td>
  </tr>
</table>
</center>